.tour-container{
    padding-left: 10px;
    padding-right: 10px;
}
.activities-color{
    background-color: #fff;
    padding: 10px;
}
.img-about{
    border-radius: 50%;
    margin-left: 103px;
}
.article-color{
    background-color:#F3F3F3;
}
.view-all{
   margin-top: 20px;
    
}
.about-img{
  width: 30%;
}

